/*generics*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

/*utility*/

:root {
    --blue: #3161E0;
    --grey: grey;
    --section-spacing-top-bottom: 120px;
}

.flex {
    display: flex;
}

/*header row section*/

.header-background {
    background-color: #3161E0;
    min-height: 400px;
}

.header-links {
    justify-content: space-between;
    width: 50%;
}

.header-links>a {
    color: white;
    text-decoration: none;

}


.nav-row {
    justify-content: space-between;
    align-items: center;
    background-color: green;
    min-height: 100px;
}

/*header text section*/

.header-main {
    background-color: yellow;
    text-align: center;
    padding: var(--section-spacing-top-bottom);

}